{% extends 'base.html' %}
{% load static %}
{% block content %}

<main id="main">

    <!-- ======= Slide Show Section ======= -->

    <section id="slideshow" class="slideshow">
        <div class="container" data-aos="fade-up">
            <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                <div class="carousel-indicators text-center align-items-center">
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3"
                        aria-label="Slide 4"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="4"
                        aria-label="Slide 5"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="5"
                        aria-label="Slide 6"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="6"
                        aria-label="Slide 7"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="7"
                        aria-label="Slide 8"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="8"
                        aria-label="Slide 9"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="9"
                        aria-label="Slide 10"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="10"
                        aria-label="Slide 11"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="11"
                        aria-label="Slide 12"></button>
                </div>
                <div class="carousel-inner text-center align-items-center">
                    <div class="carousel-item active" data-bs-interval="2000">
                        <img src="{% static 'img/minted/TL-1080.png'%}" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item" data-bs-interval="2000">
                        <img src="{% static 'img/minted/TL-1401.png'%}" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item" data-bs-interval="2000">
                        <img src="{% static 'img/minted/TL-1612.png'%}" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item" data-bs-interval="2000">
                        <img src="{% static 'img/minted/TL-1755.png'%}" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item" data-bs-interval="2000">
                        <img src="{% static 'img/minted/TL-211.png'%}" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item" data-bs-interval="2000">
                        <img src="{% static 'img/minted/TL-2569.png'%}" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item" data-bs-interval="2000">
                        <img src="{% static 'img/minted/TL-849.png'%}" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item" data-bs-interval="2000">
                        <img src="{% static 'img/minted/TL-3038.png'%}" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item" data-bs-interval="2000">
                        <img src="{% static 'img/minted/TL-3469.png'%}" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item" data-bs-interval="2000">
                        <img src="{% static 'img/minted/TL-4324.png'%}" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item" data-bs-interval="2000">
                        <img src="{% static 'img/minted/TL-869.png'%}" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item" data-bs-interval="2000">
                        <img src="{% static 'img/minted/TL-3146.png'%}" class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </section>

    <!-- ======= End Slide Show Section ======= -->

    <!-- ======= Attention Section ======= -->
    <section id="attention" class="attention">
        <div class="container" data-aos="fade-up">

            <div class="row">
                <div class="col-lg-6 d-flex align-items-center" data-aos="fade-right" data-aos-delay="100">
                    <img src="{% static 'img/TL-2553.png'%}" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 content" data-aos="fade-left" data-aos-delay="100">
                    <h3>ATTENTION TO DETAILS</h3>
                    <p class="fst-italic">
                        Toodlers represents much more than just the artwork. However, having great art to back an even
                        greater
                        project just made sense to us.
                    </p>
                </div>
            </div>

        </div>
    </section>

    <!-- End Attention Section -->

    <!-- About Section -->

    <section id="about" class="about">
        <div class="container" data-aos="fade-up">

            <div class="row content">
                <div class="col-lg-6">
                    <div class="section-title">
                        <h2>TOODLERS SEE, TOODLERS DO</h2>
                    </div>
                    <h4>Our project is deeply rooted in Community, Change, and Support. </h4>
                    <br>
                    <p>
                        We aim to inspire our growing community to be kind, uplift, and be there for one another. We
                        strive to
                        make the Toodlers community a safe and fun place for everybody.
                    </p>
                    <br>
                    <p>
                        <strong>
                            Kindness is contagious. Toodlers See,
                            Toodlers Do.
                        </strong>
                    </p>
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0">
                    <div class="section-title">
                        <h2>OUR VISION</h2>
                    </div>
                    <h4>Our vision is to intertwine our NFT with the Real World.</h4>
                    <br>
                    <p>
                        Owning a Toodlers is being a part of something tremendously bigger than having an awesome piece
                        of digital
                        art.
                    <p>
                        With the support from our Toodlers Family, we are building something that will positively impact
                        the lives
                        of countless people, and we are doing our part in making the world just a tiny bit better.
                    </p>
                    <p>
                        The Movement starts with us,
                    </p>
                    <br>
                    <p>
                        <strong>
                            Toodlers See, Toodlers Do. #TSTD
                        </strong>
                    </p>
                    </p>
                    <!-- <a href="#" class="btn-learn-more">Learn More</a> -->
                </div>
            </div>
        </div>
    </section>

    <!-- End About Us Section -->

    <!-- ======= Roadmap Section ======= -->

    <section id="roadmap" class="roadmap">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>ROADMAP</h2>
            </div>

            <div class="section-phase">
                <h2>PHASE ONE :</h2>
                <p>
                    Let's get this Party Started.
                </p>
                <img src="{% static 'img/phase/TL-PHASE1.png'%}" alt="">
                <a href="#detail" class="btn-get-started-0 scrollto">More Info</a>
            </div>
            <div class="section-phase">
                <h2>PHASE TWO :</h2>
                <p>
                    Release the Toodlers.
                </p>
                <img src="{% static 'img/phase/TL-PHASE2.png'%}" alt="">
                <a href="#detail" class="btn-get-started-1 scrollto">More Info</a>
            </div>
            <div class="section-phase">
                <h2>PHASE THREE :</h2>
                <p>Enough Wondering Around.</p>
                <img src="{% static 'img/phase/TL-PHASE3.png'%}" alt="">
                <a href="#detail" class="btn-get-started-2 scrollto">More Info</a>
            </div>

        </div>
    </section>

    <!-- End Roadmap Section -->

    <!-- ======= Detail Section ======= -->
    <section id="detail" class="detail section-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>DETAILS</h2>
            </div>

            <div class="detail-list">
                <ul>
                    <li data-aos="fade-up" data-aos-delay="100">
                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse"
                            data-bs-target="#detail-list-1" class="collapsed">PHASE ONE : Let's get this Party
                            Started.<i class="bx bx-chevron-down icon-show"></i><i
                                class="bx bx-chevron-up icon-close"></i></a>
                        <div id="detail-list-1" class="collapse" data-bs-parent=".detail-list">
                            <br>
                            <p>
                                <strong>GIVEAWAYS FOR OUR TOODLERS FAMILY</strong>
                            </p>
                            <p>
                                During the first phase of our journey, we will be hosting various giveaways for our
                                community. These
                                giveaways will include anything from Toodlers Family List spots to physical items and
                                more.
                            </p>
                            <br>
                            <p>
                                <strong>SHOWING LOVE TO OUR REAL WORLD TOODLERS</strong>
                            </p>
                            <p>
                                During this beginning phase, we will also be giving back to people in our real world
                                community. We
                                have started a TikTok where we will be posting videos of our team showing love to people
                                in our
                                community who need a helping hand, and various other good deeds.
                            </p>
                            <p>
                                Our hashtag #TSTD will be used on every video in hopes of inspiring our growing
                                community to take part
                                in our movement.
                            </p>
                        </div>
                    </li>

                    <li data-aos="fade-up" data-aos-delay="200">
                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse"
                            data-bs-target="#detail-list-2" class="collapsed">PHASE TWO : Release the Toodlers - Mint.<i
                                class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="detail-list-2" class="collapse" data-bs-parent=".detail-list">
                            <br>
                            <p>
                                This is the part of our journey where the Toodlers come to life. Minting will happen in
                                two stages,
                                the pre-sale mint, and the public mint. Pre-sale will be open to OG's and Toodlerslist
                                members only.
                            </p>
                            <p>
                                <br>
                                <strong>
                                    SPECIAL ITEMS/PERKS FOR HOLDERS
                                </strong>
                            </p>
                            <p>
                                After the mint, holders of Toodlers will be eligible to receive special items and perks
                                including
                                exclusive airdrops, merchandise, and much more.
                            </p>
                            <br>
                            <p>
                                <strong>GIVING BACK TO HOLDERS</strong>
                            </p>
                            <p>
                                Holders will also be entered into large weekly, holder only giveaways. These giveaways
                                will include
                                physical items, crypto/NFT's, and much more. This is one of many ways holders will be
                                given value for
                                holding a Toodlers.
                            </p>
                        </div>
                    </li>

                    <li data-aos="fade-up" data-aos-delay="300">
                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse"
                            data-bs-target="#detail-list-3" class="collapsed">PHASE THREE : Enough Wandering Around.<i
                                class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="detail-list-3" class="collapse" data-bs-parent=".detail-list">
                            <br>
                            <p>
                                <strong>COMMUNITY EVENTS</strong>
                            </p>
                            <p>
                                Events for holders will be held in the Toodlers metaverse. These events will include
                                contests, games,
                                and much more.
                            </p>
                            <p>
                                In addition to metaverse events, we will also be doing real life events with select
                                holders.
                            </p>
                            <br>
                            <p>
                                <strong>TOODLERS FOR GOOD</strong>
                            </p>
                            <p>
                                During this phase of the journey, we will also be continuing to make videos on our
                                TikTok as well as
                                doing various other charitable initiatives. Our community will have the opportunity to
                                suggest and
                                vote on what they would like to see us do, and what people/communities they feel are
                                deserving of
                                having their lives changed.
                            </p>
                            <br>
                            <p>
                                <strong>TOODLERS FAMILY BENEFIT</strong>
                            </p>
                            <p>
                                A percentage of Royalty Funds, collaborations, and assistance will be provided by us to
                                upcoming NFT
                                projects that we, and our community feel that will make a lasting impact on the NFT
                                space.
                            </p>
                            <p>
                                We will also be investing in NFT's. Investments in these will be facilitated by us and
                                our holders and
                                a percentage of any returns made will be paid out to Toodlers Family holders.
                            </p>
                        </div>
                    </li>
                </ul>
            </div>

        </div>
    </section>

    <!-- End Detail Section -->

    <!-- ======= Team Section ======= -->

    <section id="team" class="team section-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Team</h2>
            </div>

            <div class="row">

                <div class="col-lg-6">
                    <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="100">
                        <div class="pic"><img src="{% static 'img/team/TL-2564.png'%}" class="img-fluid" alt=""></div>
                        <div class="member-info">
                            <h4>Tact</h4>
                            <span>Founder</span>
                            <p>Tact is a passionate crypto investor, business owner and experienced within sales and
                                marketing.</p>
                            <div class="social">
                                <a href="http://discordapp.com/users/1014419904486703114" target="blank"><i
                                        class="ri-discord-fill"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 mt-4 mt-lg-0">
                    <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="200">
                        <div class="pic"><img src="{% static 'img/team/TL-2605.png'%}" class="img-fluid" alt=""></div>
                        <div class="member-info">
                            <h4>Zweihender</h4>
                            <span>Developer</span>
                            <p>
                                An IT Support who wants to add insight by working on the side as a Developer.</p>
                            <div class="social">
                                <a href="http://discordapp.com/users/1014418043373375489" target="blank"><i
                                        class="ri-discord-fill"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <!-- End Team Section -->

</main>

<!-- End #main -->

{% endblock %}