{% load static %}
    <!-- ======= Header ======= -->

    <header id="header" class="fixed-top ">
        <div class="container d-flex align-items-center">

            <h1 class="logo me-auto"><a href="/base"><img src="{% static 'img/Toodlers-8-28-2022.png'%}" alt=""></a>
            </h1>

            <!-- Navbar -->

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto active" href="/base/#hero">About</a></li>
                    <li><a class="nav-link scrollto" href="/base/#roadmap">Roadmap</a></li>
                    <li><a class="nav-link scrollto" href="/base/#detail">Details</a></li>
                    <li class="dropdown"><a href="#"><span>Portfolio</span> <i class="bi bi-chevron-down"></i></a>
                        <ul>
                            <li><a href="/portfolio">Tact</a></li>
                            <li><a href="/portfolio">Zweihender</a></li>
                        </ul>
                    </li>
                    <li><a class="getstarted scrollto" href="https://algoxnft.com/collection/toodlers"
                            target="blank">Minted</a>
                    </li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav>

            <!-- End Navbar -->

        </div>
    </header>

    <!-- End Header -->