{% extends 'base.html' %}
{% load static %}
{% block content %}
<section id="tampilbrg">
    <table class="table table-bordered border-primary table-striped-columns text-center">
        <tr>
        <tr>
            <th colspan="6" class="table-info">
                <h2 class="text-center">Item List</h2>
            </th>
        </tr>
        <th>Item Code </th>
        <th>Name </th>
        <th>Stock </th>
        <th>Price </th>
        <th>Picture Link </th>
        <th>Type </th>
        </tr>

        {% for Barang in barangs %}

        <tr>
            <th>{{ Barang.kodebrg }}</th>
            <th>{{ Barang.nama }}</th>
            <th>{{ Barang.stok }}</th>
            <th>{{ Barang.harga }}</th>
            <th>{{ Barang.link_gbr }}</th>
            <th>{{ Barang.jenis_id_id }}</th>
        </tr>

        {% endfor %}

    </table>
</section>
{% endblock %}