{% extends 'base.html' %}
{% load static %}
{% block content %}
<section id="tampilbrg">
    <table class="table table-bordered border-primary table-striped-columns text-center">
        <tr>
        <tr>
            <th colspan="6" class="table-info">
                <h2 class="text-center">Membership List</h2>
            </th>
        </tr>
        <th>Member Code </th>
        <th>Name </th>
        <th>Status </th>
        <th>Level </th>
        </tr>

        {% for Membership in memberships %}

        <tr>
            <th>{{ Membership.kodemem }}</th>
            <th>{{ Membership.nama }}</th>
            <th>{{ Membership.status }}</th>
            <th>{{ Membership.level_id_id }}</th>
        </tr>

        {% endfor %}

    </table>
</section>
{% endblock %}